
body {
	background-color: #ffffff;
   	font-size:19px;
  	margin: 0px;

}
.form-area{margin-left: 136px;
			}
.commenttext{
	width: 100%;
	border-width: 2px;
    border-style: solid;
    border-color: #e6f58b;
    padding: 4px;
    margin-left: 134px;
	font-size: 16px;
}
.commentname{
	width: 100%;
	border-width: 2px;
    border-style: solid;
    border-color: #e6f58b;
    padding: 4px;
    background-color: #e6f58b;
    margin-left: 134px;
    font-size: 16px;
}

.head{
	width: 1367px;;
	position:fixed;
	background: #f8ffd9;;
	border-bottom: 5px dashed #30b298;


}
.profile {
	margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    height: 0px;
}
.alltitle{
	font-size: 27px;
	font-weight: bold;
	line-height: 20px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 4px;
	margin-left: auto;
	text-align: center;
}
.accountlogin{
	font-size: 14px;
    text-align: right;
    margin-right: auto;
    margin-top: -20px;
    margin-left: 478px;

}

.profile .name h2 {
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
	margin: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}


.account-name .name {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.message .date {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 35px;
    text-align: center;
    font-size:15px;
}

.copyrightTop{
	margin-left: auto;
	margin-right: auto;
	margin-top:  2px;
	margin-bottom: 0px;
	text-align: center;
	width: 300px;
	font-size:15px;
}
label {
	display: block;
}

.errorMessages {
	text-align: center;
	color: red;


}

.errorMessages li{
	list-style: none;
}
tbody {

    display: table-row-group;
    border-color: inherit;
	padding: 30px;

}
table.userList {
	 width: 740px;
	margin-top: 0px;
	margin-right:auto;
	margin-bottom: 0px;
	margin-left: auto;
	border-collapse: collapse;
}
#userManagementTable{
		padding-top:118px;
}
table-design{
    table-layout: fixed;
}
ul{
	-webkit-padding-start: 0px;
}
#login{
	margin-top: 50px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;

	border: dashed 3px #30b298;
    background: #a0f1ab;
    border-radius: 3px;
    transition: .4s;
  	width: 400px;
  	font-size: 20px;
  	text-align: center;

}

input[name="account"],
input[type="password"] ,
input[name="name"]{
    width: 200px;
    padding: 4px;
    font-size: 14px;

    }
input[type="date"]{
	width: 171px;
    height: 24px;
	font-size: 15px;
	border-radius: 3px;
	margin-left: 40px;
	padding: 0.1em 0.3em;

}
input[name ="Category"]{
	margin-top: 0px;
	width: 171px;
    height: 24px;
    font-size: 16px;
	border-radius: 3px;
	padding: 0.1em 0.3em;
}
form.categoryDate{
	 text-align: center;
	 font-size: 20px;
     margin-left: -221px;
     margin-top: 96px;
     border: dashed 3px #30b298;
     background: #a0f1ab;
     border-radius: 3px;
     transition: .4s;
  	 width: 300px;
	 position: fixed;
}

.onamae{
	position: fixed;
	margin-left: -185px;
	margin-top: 28px;
    font-size: 22px;
}
input.botann{
	font-size: 14px;
	width: 100px;
	text-size: 20pt;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
}

input.botann {
    background: #67c5ff;
    color: white;
}
input.botanndelete{
	font-size: 14px;
	width: 100px;
	text-size: 20pt;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
    margin-left: 752px;
}

input.botanndelete {
    background: #67c5ff;
    color: white;
}
input.teishi {
	font-size: 14px;
	width: 100px;
	text-size: 20pt;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #fd394d;
    border: solid 2px #fd394d;
    border-radius: 3px;
    transition: .4s;
}

input.teishi{
	background: #ff8040;
    color: #ffffff;

}
input.hukkatu {
	font-size: 14px;
	width: 100px;
	text-size: 20pt;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
}

input.hukkatu{
	background: #67c5ff;
    color: #ffffff;
}
input.sarch{
	font-size: 18px;
    width: 85px;
	text-size: 20pt;
    display: inline-block;
    padding:  -0.7em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
}

input.sarch{
	background: #67c5ff;
    color: #ffffff;
}


.newPost {display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #30b298;
    border: dashed 3px #30b298;
    background: #a0f1ab;
    border-radius: 3px;
    transition: .4s;
	margin-left: 70px;
	margin-top: 5px;
}

.newPost {
    background: #a0f1ab;
    color: #4e4436;
}


.yu_za{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #30b298;
    border: dashed 3px #30b298;
    background: #a0f1ab;
    border-radius: 3px;
    transition: .4s;

}

.yu_za {
    background: #a0f1ab;
    color: #4e4436;
    font-weight:2px;
}
.logini{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #ff8040;
    border: dashed 3px #ff8040;
    background: #fccca0;
    border-radius: 3px;
    transition: .4s;
    margin-left: 770px;;
}

.logini {
    background: #fccca0;
    color: #4e4436;
}
.loginiNewpost{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #ff8040;
    border: dashed 3px #ff8040;
    background: #fccca0;
    border-radius: 3px;
    transition: .4s;
    margin-left: 954px;
}

.loginiNewpost {
    background: #fccca0;
    color: #4e4436;
}
.loginManagement{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #ff8040;
    border: dashed 3px #ff8040;
    background: #fccca0;
    border-radius: 3px;
    transition: .4s;
    margin-left: 751px;
}

.loginManagement {
    background: #fccca0;
    color: #4e4436;
}
.loginiNewUser{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #ff8040;
    border: dashed 3px #ff8040;
    background: #fccca0;
    border-radius: 3px;
    transition: .4s;
    margin-left: 897px;
}

.loginiNewUser {
    background: #fccca0;
    color: #4e4436;
}
.loginippann{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #ff8040;
    border: dashed 3px #ff8040;
    background: #fccca0;
    border-radius: 3px;
    transition: .4s;
    margin-left: 935px;
}

.loginippann {
    background: #fccca0;
    color: #4e4436;
}
.home{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #30b298;
    border: dashed 3px #30b298;
    background: #a0f1ab;
    border-radius: 3px;
    transition: .4s;
    margin-left: 70px;
    margin-top: 5px;
}

.home {
    background: #a0f1ab;
    color: #4e4436;
}

.messageform{
	text-align: center;
	padding-top:100px;

}
#usermessages{
	margin-left: 280px;
    margin-right: 280px;
	padding-top:100px;
}
textarea.text{
	margin-left: -73px;
	resize: none;
	padding-top:4px;
	padding-bottom:4px;
	width: 400px;
    height: 170px;
    font-family:Arial;
    font-size:13.3333px;
}


textarea.tweet-box{
	margin-left: 280px;
	margin-right: 280px;
	margin:0 auto;
	resize: none;
	padding: 4px;
	width: 706px;
	border-color:#30b298;
	font-family:"Arial";
	font-size:15px;
}
.te{margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	resize: none;
	width: 20%;

}
input [name="title"],
input [name="category"]{
	width: 700px;
	padding: 10px;
}
.senntaku{
	width: 150px;
    padding: 4px;
    font-size: 14px;
}
.messagetitle{
	width: 100%;
	margin-bottom: 0px;
	border-width: 3px;
    border-style: solid;
    border-color: #30b298;
    background: #e6f58b;
    color:#0a0a0a;
    font-size:20pt;
    font-weight: 700pt;
    padding: 4px;
    margin-left: 134px;
}

.messagename{
	width: 100%;
	border-width: 3px;
    border-style: solid;
    border-color: #30b298;
    padding: 4px;
    margin-left: 134px;
}

.messagecategory{
	width: 100%;
	border-width: 3px;
    border-style: solid;
    border-color: #30b298;
    padding: 4px;
    margin-left: 134px;
}
.messagetext{
	width: 100%;
	border-width: 3px;
    border-style: solid;
    border-color: #30b298;
    padding: 4px;
	margin-left: 134px;
}
.lll{
	text-align: left;
}

.shinnki{
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	resize: none;
	width: 40%;
	padding: 10px;
	text-align: center;
	padding-top:100px;
}
.hennsyuu{
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	resize: none;
	width: 40%;
	padding: 10px;
	text-align: center;
	padding: 100px;
}
.State{
	 font-size:12pt;
}
.StateStop{
	color: #ff0000;
	 font-size:12pt;
}
.StateLogin{
	background: #ffffac;
	 font-size:12pt;
}